@page "/cards"
@inject ICardService CardService
@inject NavigationManager NavigationManager

<PageTitle>Cards</PageTitle>

<h3>Cards</h3>

<MudSimpleTable>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Deck</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in CardService.Cards)
        {
            <tr>
                <td>@card.Title</td>
                <td>@card.Description</td>
                <td>
                    <MudIconButton OnClick="(() => ShowCard(card.Id))" Icon="@Icons.Material.Filled.Favorite" Color="Color.Secondary" aria-label="add to favorite"></MudIconButton>
                </td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<MudButton ButtonType="ButtonType.Button" @onclick="CreateNewCard">Create New Card</MudButton>


@code {
    protected override async Task OnInitializedAsync()
    {
        await CardService.GetCards();
    }

    void ShowCard(int id)
    {
        NavigationManager.NavigateTo($"card/{id}");
    }

    void CreateNewCard()
    {
        NavigationManager.NavigateTo("/card");
    }

}
